<!DOCTYPE html>
{% include 'base.html' %}

<!--<html lang="en">-->
    <!--<head>-->
        <!--&lt;!&ndash;Requirements for Boostrap stuff&ndash;&gt;-->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <!--<meta charset="UTF-8">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">-->
    <!--</head>-->


<!--<div class="bio">-->
    <!--<h1>Jon-Ross Presta</h1>-->
    <!--<p>If you ain't last you're first.</p>-->
    <!--&lt;!&ndash;<button class="btn btn-outline-secondary btn-lg">Let's Fucking Go!</button>&ndash;&gt;-->
    <!--<div class="bio">-->
        <!--<h1>Jon-Ross Presta</h1>-->
        <!--<p>If you ain't last you're first.</p>-->
    <!--</div>-->

<body>
    <div class="bio">
        <!--<div class="bio">-->
            <h1>Jon-Ross Presta</h1>
            <p>If you ain't last you're first.</p>
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <div class="embed-responsive embed-responsive-16by9">

                GET EMBEDDING LINK FOR YEAH BOI

                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
            </div>


        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
</body>

</html>