body {
  padding: 0;
  margin: 0;
  background: #F8F8FF;
}
/*--- navigation bar ---*/
.navbar {
  background: #808080;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

/*--- background image ---*/
.header {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

/*--- landing page text---*/
.description {
  left: 50%;
  padding: 0 30px;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #8B4513;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

/*--- team page text ---*/


.bio {
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.bio h1 {
  color: #000000;
}
.bio p {
  color: #000000;
  font-size: 1.3rem;
  line-height: 1.5;
}

/*
.bio {
left: 50%;
position: absolute;
top: 20%;
transform: translate(-50%, -55%);
text-align: center;
}

.bio h1 {
}

.bio p {
font-size: 1.2rem;
}
*/


/*--- button ---*/
.description button {
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}

/*--- for mobile text ---*/
@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 30px;
    position: absolute;
    top: 20%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }

  .description p {
    font-size: 1.2rem;
  }

  .bio {
    left: 0;
    padding: 0 30px;
    position: absolute;
    top: 20%;
    transform: none;
    text-align: center;
  }

  .bio h1 {
    font-size: 2em;
  }

  .bio p {
    font-size: 1.2rem;
  }

  .features {
    margin: 0;
  }
}


/*--- for pictures at bottom ---*/
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

/*--- footer ---*/
.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}




/*--- image grid ---*/
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 5%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}