<!DOCTYPE html>
<html lang="en">

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.bootstrapmin.css">-->

<head>
    <!--Requirements for Boostrap stuff-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
</head>


<body>
    <!--NAV-BAR-->
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-md">
            <a class="navbar-brand" href="#">
                <img src="../static/styles/tito2.png" width="50" height="50">
                The League
            </a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <!--DROP-DOWN TEAMS-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teams
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/teams/alex">Alex</a>
                            <a class="dropdown-item" href="/teams/bill">Bill</a>
                            <a class="dropdown-item" href="/teams/christian">Christian</a>
                            <a class="dropdown-item" href="/teams/clayton">Clayton</a>
                            <a class="dropdown-item" href="/teams/jacob">Jacob</a>
                            <a class="dropdown-item" href="/teams/james">James</a>
                            <a class="dropdown-item" href="/teams/jarod">Jarod</a>
                            <a class="dropdown-item" href="/teams/jon_ross">Jon-Ross</a>
                            <a class="dropdown-item" href="/teams/tyler">Tyler SDSU</a>
                            <a class="dropdown-item" href="/teams/sam">Sam</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>

<header class="page-header header container-fluid"></header>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--<div class="description">-->
    <!--<h1>Welcome To The League Website, Chumps</h1>-->
    <!--<p>This is where all of the shit will be talked.</p>-->
    <!--&lt;!&ndash;<button class="btn btn-outline-secondary btn-lg">Let's Fucking Go!</button>&ndash;&gt;-->
<!--</div>-->
