<!DOCTYPE html>
{% include 'base.html' %}

<!--https://websitesetup.org/bootstrap-tutorial-for-beginners/-->

<!-- background image -->
<div class="overlay"></div>
<div class="description">
    <h1>Welcome To The League Website, Chumps</h1>
    <p>This is where all of the shit will be talked.</p>
    <button class="btn btn-outline-secondary btn-lg">Let's Fucking Go!</button>
</div>

<body>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

<!-- images at the bottom of the landing page-->
<div class="container features">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">The Champion</h3>
            <img src="./static/james.jpg" class="img-fluid">
            <p>James Dayton (right) just achieved his second career title. He is now the self-proclaimed Founder of The Repeat Council, but honestly, who can dispute it?</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">The Biggest Loser</h3>
            <img src="./static/clayton.jpg" class="img-fluid">
            <p>A loss for Clayton was no real surprise to anybody this previous season. There are only so many seasons that one can take Aaron Rodgers in the first round before paying the troll toll. One of the best stories to keep an eye out for will be whether or not Clayton is willing to put forth the effort needed to prevent back-to-back losses. </p>
        </div>
        <!--contact blobg-->
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Join Our League's Waiting List</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" name="">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" name="email">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="4"></textarea>
            </div>
            <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
        </div>
    </div>
</div>

<!-- footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                <p>This fantasy football league is way cooler and more competitive than your fantasy league. While we may contribute to various mental traumas among league members, this is balanced out by the incredible highs of victory.</p>
                <p>For dealing with the pain of constant mediocrity, we suggest improving your drafting, waiver pickups, trades, and start/sit decisions. In addition, play better defense.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>420 Blaze It, Livermore, California
                <br/>info@mywebsite.com
                <br/>+ 01 234 567 88
                <br/>+ 01 234 567 89</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">© 2019 Copyright: TheLeague.tito</div>
</footer>
