<!DOCTYPE html>
{% include 'base.html' %}

<div class="img-container">
    <div class="jumbotron ">
        <h1> League Champion</h1>
        <img src="static/headshots/hs1.jpg">

        <h1> Peasants </h1>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4">
                <a href="/teams/alex">
                    <img class="thumbnail img-responsive" src="static/headshots/alex.png">
                    <p>Alex Kawahara</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <a href="/teams/tyler">
                    <img class="thumbnail img-responsive" src="static/headshots/tyler.png">
                    <p>Tyler SDSU</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <a href="/teams/jon_ross">
                    <img class="thumbnail img-responsive" src="static/headshots/jonross.png">
                    <p>Jon-Ross Presta</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <a href="/teams/sam">
                    <img class="thumbnail img-responsive" src="static/headshots/sam.png">
                    <p>Samwise Ogee</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <img class="thumbnail img-responsive" src="static/headshots/hs1.jpg">
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <img class="thumbnail img-responsive" src="static/headshots/hs1.jpg">
            </div>
                    <div class="col-lg-4 col-sm-6 col-md-4">
                <img class="thumbnail img-responsive" src="static/headshots/hs1.jpg">
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <img class="thumbnail img-responsive" src="static/headshots/hs1.jpg">
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <img class="thumbnail img-responsive" src="static/headshots/hs1.jpg">
            </div>

        </div>
    </div>
</div>