<!DOCTYPE html>
{% include 'base.html' %}

<div class="row">
    <div class="column">
        <img src="/static/headshots/hs1.jpg" class="img-circle">
        <img src="/static/headshots/hs1.jpg" class="img-circle">
    </div>
    <div class="column">
        <img src="/static/headshots/hs1.jpg">
        <img src="/static/headshots/hs1.jpg">
    </div>
    <div class="column">
        <img src="/static/headshots/hs1.jpg">
        <img src="/static/headshots/hs1.jpg">
    </div>
    <div class="column">
        <img src="/static/headshots/hs1.jpg">
        <img src="/static/headshots/hs1.jpg">
    </div>
    <div class="column">
        <img src="/static/headshots/hs1.jpg">
        <img src="/static/headshots/hs1.jpg">
    </div>
</div>